@media screen and (min-width:0px) and (max-width:499px){
    header {
        background-position: center center;
    }
    .logo{
        position: absolute;
    }
    .login-form {
        display: flex;
        width: 100%;
        height: 100vh;
        padding: 10px;
        border-radius: 0px;
        justify-content: center;
    }
    .copy p {
        font-size: 15px;
    }
    .redes .contenedor {
        display: flex;
        gap: 10px;
        padding: 20px 5px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .recuerdame {
        display: flex;
        gap: 7px;
        padding: 10px 3px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .copy {
        padding: 0; 
   }
}
@media screen and (min-width:500px) and (max-width:767px){   
    header {
        background-position: center center;
    }
    .logo{
        position: absolute;
    }
    .login-form {
        display: flex;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        justify-content: center;
    }
    .copy p {
        font-size: 15px;
    }
    .redes .contenedor {
        display: flex;
        gap: 10px;
        padding: 20px 5px;
        justify-content: center;
        flex-wrap: wrap;
    }
    form input{
        width: 70%;
    }
}
/*Para celular posicion horizontal y para table posicion vertical*/
@media screen and (min-width:768px) and (max-width:991px){    
    header {
        background-position: center center;
    }
    .login-form span {
        font-size: 3rem;
    }
    .login-form {
        display: flex;
        width: 70%;
        justify-content: center;
    }
    .recuerdame,.ayuda a {
        font-size: 20px;
    }
    .copy p {
        font-size: 20px;
    }
    form input{
        width: 70%;
    }
}
/*Para table posicion horizontal y pantalla pequeÃ±a des escritorio*/
@media screen and (min-width:992px) and (max-width:1199px){
    .login-form {
        width: 40%;
    }
    .login-form .boton {
        font-size: 1.2rem;
    }
}
/*Para pantallas mas grandes de escritorio*/
@media screen and (min-width:1200px){
}